body            { font-family: "Helvetica", "Helvetica", sans-serif;}
a, h1, h2       { color: #0096ff; }
h1, h2          { margin: 0; text-align: center;}
h1              { border-bottom: 4px solid #eee; }
h2              { font-size: 3em; }


table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.tfidf th {
    background-color: #0096ff;
    color: white;
}

.lm th {
    background-color: #0096ff;
    color: white;
}

.vsm th {
    background-color: #0096ff;
    color: white;
}


/* tr:hover            { background-color: #ffff99;}*/

td.details-control {
    text-align:center;
    color:forestgreen;
cursor: pointer;
}
tr.shown td.details-control {
text-align:center;
color:red;
}
div.dataTables_wrapper {
        margin-bottom: 3em;
    }
