<doctype html>
<head>
    <title>Query Database</title>
</head>
<style>
h1{text-align:center;font-family:Helvetica, sans-serif;color:#0096ff;background-color:#ffffff;}
h2{text-align:center;font-family:Helvetica, sans-serif;color:#000000;background-color:#ffffff;}
form { margin: 0 auto; width:250px;}
</style>
<body>
  <div class="page-header" style="margin-top: 70px">
    <h1>Welcome to the 224B Information Retrieval System</h1>
  </div>
<h2>Please enter your search query:</h2>
</body>

<form action = '/' method="POST">
    <input name="text">
    <input type="submit">
</form>
